services:
  db:
    image: postgres:15
    container_name: lorum_db
    env_file:
      - ./backend/.env
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  backend:
    build: ./backend
    container_name: lorum_backend
    env_file:
      - ./backend/.env
    ports:
      - "8080:8080"
    depends_on:
      - db

  frontend:
    build: ./frontend
    container_name: lorum_frontend
    ports:
      - "3000:80"
    depends_on:
      - backend

volumes:
  db_data:
